# <center>Assignment

Download the file `athlete_events.csv` The dataset has the following features:

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [211]:
import pandas as pd

In [212]:
# Change the path to the dataset file if needed. 
PATH = 'athlete events.csv'

In [213]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1988 Olympics?__

In [214]:
# You code here
youngest_participants = data[data['Year']==1988].groupby('Sex')['Age'].min()
youngest_participants

Sex
F    11.0
M    12.0
Name: Age, dtype: float64

In [215]:
# year also can be taken from column 'Games' and it will look like:
youngest_participants = data[data['Games'].str.startswith('1988')].groupby('Sex')['Age'].min()
youngest_participants

Sex
F    11.0
M    12.0
Name: Age, dtype: float64

__2. What was the percentage of female basketball players among all the female participants of the 2012 Olympics? Round the answer to the first decimal.__
*Hint:* drop duplicate athletes where necessary to count each athlete just once. This applies to other questions too.

In [216]:
# You code here
all_f_participants = (data[(data['Sex']=='F') & (data['Year']==2012)]).drop_duplicates()
basketball_f_players = all_f_participants[all_f_participants['Sport']=='Basketball']
percentage = f'{round((len(basketball_f_players) * 100)/len(all_f_participants), 1)}%'
print(percentage)

2.5%

__3. What are the min and max of height for female tennis players who participated in the 1988 Olympics? Round the answer to the first decimal.__

In [217]:
# You code here
tennis_f_players = data[(data['Sex']=='F') & (data['Year']==1988) & (data['Sport']=='Tennis')]
mean_h = round(tennis_f_players['Height'].mean(), 1)
max_h = round(tennis_f_players['Height'].max(), 1)
print(f'min height: {mean_h}\nmax height: {max_h}')

min height: 171.7
max height: 190.0

__4. Find the heaviest athlete among 1988 Olympics participants. What sport did he or she do?__

In [218]:
# You code here
all_participants = data[data['Year']==1988]
max_weight_index = all_participants['Weight'].idxmax()
heaviest_athlete = all_participants.loc[max_weight_index]
print('The name of the heaviest athlete:', heaviest_athlete['Name'], '\nThe weight of the heaviest athlete:', heaviest_athlete['Weight'], '\nThe heaviest athlete competed in:', heaviest_athlete['Sport'])

The name of the heaviest athlete: Ji Zubrick
The weight of the heaviest athlete: 161.0
The heaviest athlete competed in: Weightlifting

__5. How many times did John Aalberg participate in the Olympics held in different years?__

In [219]:
# You code here
cnt_per_year = data[data['Name']=='John Aalberg'].groupby(['Year'])['Event'].count()
cnt_per_year

Year
1992    4
1994    4
Name: Event, dtype: int64

__6. How many events did John Aalberg participate in during the Olympics held in Albertville?__

In [220]:
# You code here
cnt_for_city_alb = data[(data['Name']=='John Aalberg') & (data['City']=='Albertville')]['Event'].count()
print('John Aalberg participated in', cnt_for_city_alb, 'events during the Olympics held in Albertville.')

John Aalberg participated in 4 events during the Olympics held in Albertville.

__7. How many gold medals in tennis did the Belarus team win at the 2012 Olympics?__

In [221]:
# You code here
cnt_gold_medals = data[(data['Team'].str.startswith('Belarus')) & (data['Year']==2012) & (data['Sport']=='Tennis') & (data['Medal']=='Gold')]['Medal'].count()
print(f'Belarus team won {cnt_gold_medals} gold medals at the 2012 Olympics.')

Belarus team won 2 gold medals at the 2012 Olympics.

__8. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__

In [226]:
# You code here
all_medals = data[(data['Year']==2016) & (data['Medal']!='NA') & (data['Medal']!='NA')]
cnt_medals_spain = all_medals[all_medals['Team'].str.startswith('Spain')]['Medal'].count()
cnt_medals_italy = all_medals[all_medals['Team'].str.startswith('Italy')]['Medal'].count()
if cnt_medals_spain < cnt_medals_italy:
    print(f'Spain won fewer medals than Italy at the 2016 Olympics.\nSpain: {cnt_medals_spain}\nItaly: {cnt_medals_italy}')
else:
    print(f'Spain won more medals than Italy at the 2016 Olympics.\nSpain: {cnt_medals_spain}\nItaly: {cnt_medals_italy}')

Spain won fewer medals than Italy at the 2016 Olympics.
Spain: 45
Italy: 72

__9. What is the absolute difference between the number of unique sports at the 1988 Olympics and 2002 Olympics?__

In [223]:
# You code here
unique_sports = data.groupby('Year')['Sport'].nunique()
abs_diff = abs(unique_sports[1988] - unique_sports[2002])
print('The absolute difference between the number of unique sports at the 1988 and 2002 Olympics is:', abs_diff)

The absolute difference between the number of unique sports at the 1988 and 2002 Olympics is: 22

__10. Who won the highest number of medals overall?__
    
*Hint*: country

In [224]:
# You code here
country = data.groupby('Team')['Medal'].count().idxmax()

print(f'The {country} team won the highest number of medals overall.')

The United States team won the highest number of medals overall.